:root{
    --primary: blue;
    --secondary: pink;
    --success: green;
    --info: cyan;
    --warning: orange;
    --danger: red;
    --light: white;
    --dark: black;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-white{
    background-color: #fff !important;
}
.text-white{
    color: white !important;
}

.bg-success{
    background-color: var(--success);
}

.bg-error{
    background-color: var(--warning);
}